img{
  height: 70px;
  width: 70px;
  }
  html, body{
    background-image: url(photo1.jpg);
  }
  
  h1{
    margin-left: 700px;
    margin-top: 300px;
    color: green;
  }

  @media screen and (max-width: 768px){
    h1{
      margin-left: 0px;
    }